{% extends "base.html" %} {% block title %} Home Page {% endblock %} {% block
content %}
<div class="container mt-5">
  <h1 class="text-center">Hello, {{ user.first_name }}!</h1>
  <div class="row">
    {% for subject in user.study_preference %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm hover-transform card-custom">
        <div class="card-body">
          <a
            href="{{ url_for('main.subject_page', subject_name=subject) }}"
            class="btn w-100 stretched-link btn-match-card"
          >
            {{ subject }}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
