{% extends "base.html" %} {% block title %}Login Page {% endblock %} {% block
content %}
<style>
  .form-control {
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  .form-label {
    font-weight: bold;
  }
</style>
<div class="container mt-5">
  <h1 class="mb-3">Login</h1>
  <form method="post" class="w-50">
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

{% endblock %}
